@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.home {
  min-height: 98.5vh;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-image: url(../../../public/116565116_xl.jpg);
  background-size: cover;
}

.title {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 8px black;
  font-size: 4vw;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}
